<template>
  <div class="flex items-center justify-center h-screen">
    <div class="">
      <span v-if="validation.message" class="px-2 py-2 mb-4 text-red-600 rounded shadow">
        {{ validation.message }}
      </span>
	
      <form @submit.prevent="submit">
		<div>
			<input
			  type="file"
			  @change="uploadFile"
			  class="w-full px-4 py-2 border border-gray-300 outline-none"
			/>
		  </div>
        <div>
          <label for="title">Название файла</label>
          <input
            type="text"
            name="dfilename"
            v-model="dfile.dfilename"
            class="w-full px-4 py-2 border border-gray-300 outline-none"
          />
        </div>
        <div>
          <label for="title">Размер файла МБ</label>
		  <input
            type="text"
            name="dfilesizemb"
			pattern="[0-9]+"
            v-model="dfile.dfilesizemb"
            class="w-full px-4 py-2 border border-gray-300 outline-none"
          />
        </div>
		<div>
          <label for="title">Разширение файла</label>
          <input
            type="text"
            name="dfileext"
            v-model="dfile.dfileext"
            class="w-full px-4 py-2 border border-gray-300 outline-none"
          />
        </div>
        <button class="px-6 py-2 text-white bg-blue-600" type="submit">
          Button
        </button>
      </form>
    </div>
  </div>
</template>

<script>
	
	
import { reactive, ref } from 'vue';
import { useRouter } from 'vue-router';
import axios from 'axios';


	
export default {

  setup() {
    const dfile = reactive({
      dfilename: '',
      dfilesizemb: '',
	  dfileext: ''
    });

    const validation = ref([]);

    const router = useRouter();
	
	const uploadFile = (event) => {
	  //file.value = event.target.files[0];
	  alert('onFileChanged');
	};

	/*
	function onFileChanged($event: Event) {
            const target = $event.target as HTMLInputElement;
            if (target && target.files) {
                file.value = target.files[0];
            }
			alert('onFileChanged');
        }*/
		
    function submit() {
      let dfilename = dfile.dfilename;
      let dfilesizemb = dfile.dfilesizemb;
		let dfileext = dfile.dfileext;
		
      axios
        .post('http://194.110.54.178:8001/api/dfiles', {
          dfilename: dfilename,
          dfilesizemb: dfilesizemb,
		  dfileext: dfileext,
        })
        .then(() => {
          router.push({
            name: 'dfiles',
          });
        })
        .catch((error) => {
          validation.value = error.response.data;
        });
    }

    return {
      dfile,
      validation,
      router,
      submit,
	  uploadFile,
    };
  },
  
};
</script>

