<template>
  <div class="flex items-center justify-center h-screen">
    <div class="">
      <span v-if="validation.message" class="px-2 py-2 mb-4 text-red-600 rounded shadow">
        {{ validation.message }}
      </span>
	
	<form @submit.prevent="submit">
		<div>
			<input
			  type="file"
			  @change="addFiles"
			  multiple
			  class="w-full px-4 py-2 border border-gray-300 outline-none"
			/>
		  </div>
        <table id="progressTable"></table>
        <button class="px-6 py-2 text-white bg-blue-600" type="submit">
          Загрузить
        </button>
      </form>
    </div>
  </div>
</template>

<script>
	
	
import { reactive, ref } from 'vue';
import { useRouter } from 'vue-router';
import axios from 'axios';
//import { useCookies } from '@vueuse/integrations/useCookies'

	
export default {
	methods:{
		 getCookie(){
			 // it gets the cookie called `username`
		  const username = this.$cookies.get("username");      console.log(username);
		 }
	   },
	mounted() {
		let recaptchaScript = document.createElement('script')
      recaptchaScript.setAttribute('src', '/tus-js-client/dist/tus.js')
      document.head.appendChild(recaptchaScript)

      recaptchaScript = document.createElement('script')
      recaptchaScript.setAttribute('src', '/src/jjs.js')
      document.head.appendChild(recaptchaScript)
	  
	  //let progressTable = document.createElement('table')
	  //progressTable.id = "progressTable"
		//document.body.appendChild(progressTable)
    },
	
  setup() {
    const dfile = reactive({
      dfilename: '',
      dfilesizemb: '',
	  dfileext: ''
    });

    const validation = ref([]);

    const router = useRouter();
	
	const getToken = async () => {
		await axios.get("http://194.110.54.178:8001/sanctum/csrf-token")
	}
	//const cookies = useCookies(['locale'])
	//const cookies = router.app.config.globalProperties
	//console.log('_ga', cookies)
  //console.log('_ga', cookies.get('XSRF-TOKEN'))
  
	let _token = $cookies.get("PHPSESSID"); //
	//let _token = getToken();
	//let _token = '';
	//alert(_token);
	const addFiles = (event) => {
	  var files = event.target.files;
	  
	  jJS.addFiles(files, _token);
	};
	
	
    function submit() {
      let dfilename = dfile.dfilename;
      let dfilesizemb = dfile.dfilesizemb;
		let dfileext = dfile.dfileext;
		
      axios
        .post('http://194.110.54.178:8001/api/dfiles?sid='+_token, {
          dfilename: dfilename,
          dfilesizemb: dfilesizemb,
		  dfileext: dfileext,
        })
        .then(() => {
          router.push({
            name: 'dfiles',
          });
        })
        .catch((error) => {
          validation.value = error.response.data;
        });
    }

    return {
      dfile,
      validation,
      router,
      submit,
	  addFiles,
    };
  },
  
};
</script>

