<template>
  <div class="flex items-center justify-center h-screen">
    <div class="">
      <span
        v-if="validation.message"
        class="px-2 py-2 mb-4 text-red-600 rounded shadow"
      >
        {{ validation.message }}
      </span>
      <form @submit.prevent="submit">
        <div>
          <label for="title">Название файла</label>
          <input
            type="text"
            name="dfilename"
            v-model="dfile.dfilename"
            class="w-full px-4 py-2 border border-gray-300 outline-none"
          />
        </div>
        <div>
          <label for="title">Размер файла МБ</label>
		  <input
            type="text"
            name="dfilesizemb"
			v-model="dfile.dfilesizemb"
            class="w-full px-4 py-2 border border-gray-300 outline-none"
          />
        </div>
		<div>
          <label for="title">Разширение файла</label>
          <input
            type="text"
            name="dfileext"
            v-model="dfile.dfileext"
            class="w-full px-4 py-2 border border-gray-300 outline-none"
          />
        </div>
        <button class="px-6 py-2 text-white bg-blue-600" type="submit">
          Button
        </button>
      </form>
    </div>
  </div>
</template>
<script>
import { reactive, ref, onMounted } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import axios from 'axios';
export default {
  setup() {
    const dfile = reactive({
      dfilename: '',
      dfilesizemb: '',
	  dfileext: ''
    });
    const validation = ref([]);
   
    const router = useRouter();
    const route = useRoute();
    
    onMounted(() => {
      // fetch api from laravel backend
      axios
        .get(`http://194.110.54.178:8001/api/dfiles/${route.params.id}`)
        .then((response) => {
          dfile.dfilename = response.data.data.dfilename;
          dfile.dfilesizemb = response.data.data.dfilesizemb;
		  dfile.dfileext = response.data.data.dfileext;
        })
        .catch((error) => {
          console.log(error.response.data);
        });
    });
    function submit() {
      let dfilename = dfile.dfilename;
      let dfilesizemb = dfile.dfilesizemb;
		let dfileext = dfile.dfileext;
      axios
        .put(`http://194.110.54.178:8001/api/dfiles/${route.params.id}`, {
          dfilename: dfilename,
          dfilesizemb: dfilesizemb,
		  dfileext: dfileext,
        })
        .then(() => {
          router.push({
            name: 'dfiles',
          });
        })
        .catch((error) => {
          validation.value = error.response.data;
        });
    }
    return {
      dfile,
      validation,
      router,
      submit,
    };
  },
};
</script>