<template>
  <main class="container flex items-center justify-center h-screen mx-auto">
    <div class="flex flex-col">
      <div class="overflow-x-auto">
        <div class="p-1.5 w-full inline-block align-middle">
          <RouterLink to="/dfiles/create" class="p-2 text-white bg-blue-600"
            >Загрузить файлы</RouterLink
          >
		  <div>Поиск файлов
			<input
			  type="text"
			  @change="searchFiles($event)"
			/>
		  </div>
          <div class="mt-3 overflow-hidden border rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase"
                  >
                    ID
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase"
                  >
                    Название файла
                  </th>
				  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase"
                  >
                    Размер файла в МБ
                  </th>
				  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase"
                  >
                    Расширение файла
                  </th>
				  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase"
                  >
                    Картинка
                  </th>
				  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase"
                  >
                    Скачать
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-bold text-left text-gray-500 uppercase"
                  >
                    Edit
                  </th>
                  <th
                    scope="col"
                    class="px-6 py-3 text-xs font-bold text-center text-gray-500 uppercase"
                  >
                    Delete
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <tr v-for="dfile in dfiles" :key="dfile.id">
                  <td
                    class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap"
                  >
                    {{ dfile.id }}
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    {{ dfile.dfilename }}
                  </td>
				  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    {{ dfile.dfilesizemb }}
                  </td>
				  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    {{ dfile.dfileext }}
                  </td>
				  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <img :src="'http://194.110.54.178:8001/getfilem/'+dfile.id"/>
                  </td>
				  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <a target="_blank" @click.prevent="dfileDownload(dfile.id, index)">Скачать</a>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <RouterLink
                      :to="{ name: 'dfiles.edit', params: { id: dfile.id } }"
                      class="text-green-500"
                      >EDIT</RouterLink
                    >
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap">
                    <button
                      @click.prevent="dfileDelete(dfile.id, index)"
                      class="text-red-600"
                    >
                      DELETE
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
			<button
			  @click.prevent="prevPage()"
			  class="text-red-600"
			>
			  Prev
			</button>
			<input
			  type="text"
			  @change="iPage($event)"
			/>
			<button
			  @click.prevent="nextPage()"
			  class="text-red-600"
			>
			  Next
			</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
import axios from 'axios';
import { onMounted, ref } from 'vue';
export default {
  setup() {
    let dfiles = ref([]);
	let searchText = '';
	let page = 1;
	let perPage = 0;
	let curPage = 1;
	let lastPage = 0;
    onMounted(() => {
		/*
      // fetch api from laravel backend
      axios
        .get('http://194.110.54.178:8001/api/dfiles?page='+page)
        .then((res) => {
			perPage = res.data.data.per_page;
			curPage = res.data.data.current_page;
			//alert(perPage);
          dfiles.value = res.data.data.data;
        })
        .catch((error) => {
          console.log(error.res.data);
        });*/
		setPage(1);
    });
    function dfileDelete(id, index) {
      axios
        .delete(`http://194.110.54.178:8001/api/dfiles/${id}`)
        .then(() => {
          dfiles.value.splice(index, 1);
        })
        .catch((error) => {
          console.log(error.response.data);
        });
    }
	function dfileDownload(id, index) {
		window.open('http://194.110.54.178:8001/getfile/'+id, '_blank');
    }
	
	function searchFiles(event) {
		searchText = event.target.value;
		//alert(event.target.value);
		axios
			.get('http://194.110.54.178:8001/api/dfiles?s='+encodeURIComponent(searchText))
			.then((res) => {
			  dfiles.value = res.data.data;
			})
			.catch((error) => {
			  console.log(error.res.data);
			});
	}
	
	
	function setPage(pg) {
		axios
        .get('http://194.110.54.178:8001/api/dfiles?page='+pg)
        .then((res) => {
			perPage = res.data.data.per_page;
			//alert(perPage);
			lastPage = res.data.data.last_page;
			curPage = res.data.data.current_page;
          dfiles.value = res.data.data.data;
        })
        .catch((error) => {
          console.log(error.res.data);
        });
    }
	
	function prevPage() {
		if(curPage>1)
			curPage--;
		setPage(curPage);
	}
	
	function nextPage() {
		if(curPage<lastPage)
			curPage++;
		setPage(curPage);
	}
	
	function iPage(event) {
		setPage(event.target.value);
	}
	
    return {
      dfiles,
      dfileDelete,
	  dfileDownload,
	  searchFiles,
	  setPage,
	  prevPage,
	  nextPage,
	  iPage
    };
  },
};
</script>